slides > slide:not(.nobackground):before {
background: url(../../../img/yousec-avatar.png) no-repeat 0 50%;
font-size: 12pt;
content: "#CodeImpot @YousecOpenfisca @upmc/masterSTL";
position: absolute;
bottom: 20px;
left: 60px;
-moz-background-size: 30px 30px;
-o-background-size: 30px 30px;
-webkit-background-size: 30px 30px;
background-size: 30px 30px;
padding-left: 40px;
height: 30px;
line-height: 1.9;
}